<h2>Admin Dashboard</h2>

<p>Total Users: {{ total_users }}</p>
<p>Total Courses: {{ total_courses }}</p>
<p>Total Enrollments: {{ total_enrollments }}</p>
<h3>Users</h3>
<table border="1">
    <tr><th>ID</th><th>Name</th><th>Email</th><th>Role</th><th>last login</th></tr>
    {% for user in users %}
    <tr>
        <td>{{ user.user_id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.last_login }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Courses</h3>
<table border="1">
    <tr><th>ID</th><th>Name</th><th>author</th><th>Description</th></tr>
    {% for course in courses %}
    <tr>
        <td>{{ course.course_id }}</td>
        <td>{{ course.title }}</td>
        <td>{{ course.author}}</td>
        <td>{{ course.description }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Enrollments</h3> 
<table border="1">
    <tr><th>Enrollment ID</th><th>Student</th><th>Course</th><th>Date</th></tr>
    {% for enr in Enrollment %}
    <tr>
        <td>{{ enr.en_id }}</td>
        <td>{{ enr.student_name }}</td>
        <td>{{ enr.title}}</td>
        <td>{{ enr.enrollment_date }}</td>
    </tr>
    {% endfor %}
</table>
